/* CSS STYLING */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

*
{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    box-sizing: border-box;
    border: none;
    all: none;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: Poppins , sans-serif;

    background-color: rgba(0, 0, 0, 0.632);
}

.navbar
{
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 50px;

    padding: 10px;
    
}

.nav-text
{
  font-size: 2rem;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 100px;
}

.image
{

  margin: 20px;

  box-shadow: 4px 4px 18px black;

  object-fit: fill;
}

.image-1 , .image-5 , .image-10 , .image-12 , .image-16
{
  width: 490px;
  height: 430px;
}

.image-2 , .image-3 , .image-4 , .image-6 , .image-7,.image-8 , .image-9 , .image-11 , .image-13 , .image-14 ,.image-1 , .image-17
{
  width: 450px;
  height: 500px;
}


@media only screen and (max-width: 500px)
{

    .image-1 , .image-5 , .image-10 , .image-12 , .image-16
  {
    width: 340px;
    height: 300px;
  }

  .image-2 , .image-3 , .image-4 , .image-6 , .image-7,.image-8 , .image-9 , .image-11 , .image-13 , .image-14 ,.image-1 , .image-17
  {
    width: 300px;
    height: 340px;
  }

}


